<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="<%- locals.css %>">
    <script src="/scripts/cryptography.js"></script>

    <!--CKEditor-->
    <link rel="icon" type="image/png" href="https://ckeditor.com/assets/images/favicons/32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://ckeditor.com/assets/images/favicons/96x96.png" sizes="96x96">
    <link rel="apple-touch-icon" type="image/png" href="https://ckeditor.com/assets/images/favicons/120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" type="image/png" href="https://ckeditor.com/assets/images/favicons/152x152.png" sizes="152x152">
    <link rel="apple-touch-icon" type="image/png" href="https://ckeditor.com/assets/images/favicons/167x167.png" sizes="167x167">
    <link rel="apple-touch-icon" type="image/png" href="https://ckeditor.com/assets/images/favicons/180x180.png" sizes="180x180">
    <link rel="stylesheet" href="/ckeditor/style.css">
    <link rel="stylesheet" href="/ckeditor/ckeditor5/ckeditor5.css">
    <!---->
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <section>
        <%- body %>
    </section>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>